@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans.woff2") format("woff2"),
    url("../fonts/open-sans.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/playfair-display.woff2") format("woff2"),
    url("../fonts/playfair-display.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/playfair-display-bold.woff2") format("woff2"),
    url("../fonts/playfair-display-bold.woff") format("woff");
}

.container,
body {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f9fdff;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1220px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.page-main h1,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  font-size: 1px;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

@media (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .no-scroll {
    overflow: hidden;
  }
}

.page-header {
  overflow: hidden;
}

.page-header__wrapper {
  display: flex;
  padding-top: 85px;
  position: relative;
}

.page-header__wrapper::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 200%;
  top: 0;
  left: 65.5%;
  background-color: #fceae8;
  z-index: -1;
}

.page-header__logo {
  padding-top: 5px;
}

.page-header__site-nav {
  flex-grow: 1;
  margin-left: 140px;
  padding-top: 5px;
}

@media (max-width: 1023px) {
  .page-header__wrapper {
    padding-top: 50px;
    background: linear-gradient(to left, #fceae8 300px, #f9fdff 300px);
  }
}

@media (max-width: 767px) {
  .page-header {
    padding-bottom: 16px;
    overflow: visible;
    background: #ffffff;
  }

  .page-header__wrapper {
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 14px 0 16px;
    box-sizing: border-box;
    background: #ffffff;
  }

  .page-header__wrapper::before {
    display: none;
  }

  .page-header__wrapper .page-header__user-nav {
    margin-left: auto;
  }

  .page-header__logo {
    width: 20px;
    padding-top: 2px;
  }

  .page-header__site-nav {
    order: 2;
    margin-left: 0;
    flex-grow: 0;
  }

  .page-header__user-nav {
    width: auto;
  }
}

.site-nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__item {
  width: 33.3%;
}

.site-nav__item:nth-child(3n) {
  text-align: right;
}

.site-nav__item a {
  font-size: 14px;
  line-height: 19px;
  color: #303032;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}

.site-nav__item a:focus,
.site-nav__item a:hover {
  opacity: 0.8;
}

.site-nav__item a:active {
  opacity: 0.6;
}

.site-nav__button {
  display: none;
}

@media (max-width: 767px) {
  .site-nav__list {
    flex-direction: column;
    width: 100%;
  }

  .site-nav__item {
    width: 100%;
    margin: 15px 0;
    padding: 0;
    text-align: center;
  }

  .site-nav__item:nth-child(3n) {
    text-align: center;
  }

  .site-nav__item a {
    font-size: 18px;
    line-height: 25px;
  }

  .site-nav {
    padding-top: 2px;
  }

  .site-nav--closed {
    width: auto;
  }

  .site-nav--closed .site-nav__list {
    display: none;
  }

  .site-nav--closed .site-nav__button {
    display: block;
    width: 29px;
    height: 19px;
    margin-left: 38px;
    background-color: transparent;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 29px 19px;
    background-position: center;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .site-nav--opened {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    padding-top: 187px;
    box-sizing: border-box;
    background-color: #303032;
    overflow: auto;
  }

  .site-nav--opened .site-nav__list {
    display: flex;
    z-index: 100;
  }

  .site-nav--opened .site-nav__item {
    margin-top: 0;
    margin-bottom: 65px;
  }

  .site-nav--opened .site-nav__item a {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }

  .site-nav--opened .site-nav__button {
    position: absolute;
    top: 25px;
    right: 25px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  .site-nav--no-js {
    width: 100%;
  }

  .site-nav--no-js .site-nav__list {
    display: flex;
  }

  .site-nav--no-js .site-nav__button {
    display: none;
  }
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}

.user-nav__item {
  margin-left: 22px;
}

.user-nav__item a {
  display: block;
}

.user-nav__item a:focus,
.user-nav__item a:hover {
  opacity: 0.8;
}

.user-nav__item a:active {
  opacity: 0.6;
}

.user-nav__item--cart a,
.user-nav__item--search a {
  width: 24px;
  height: 28px;
  background-image: url("../img/icon-magnifier.svg");
  background-repeat: no-repeat;
  background-size: 24px 27px;
  background-position: center bottom;
}

.user-nav__item--cart a {
  width: 33px;
  background-image: url("../img/icon-cart.svg");
  background-size: 33px 28px;
  background-position: center;
}

@media (max-width: 767px) {
  .user-nav {
    margin-right: 0;
  }

  .user-nav__item {
    margin-left: 19px;
  }

  .user-nav__item--search {
    margin-top: 2px;
  }

  .user-nav__item--search a {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    background-position: center center;
  }

  .user-nav__item--cart a {
    width: 28px;
    height: 24px;
    background-size: 28px 24px;
  }
}

.page-main {
  overflow: hidden;
}

.main-screen {
  position: relative;
}

.main-screen::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 64.5%;
  background-color: #fceae8;
  z-index: -1;
}

.main-screen .swiper-pagination {
  top: 216px;
  left: auto;
  right: 2.3%;
  width: 41px;
}

.main-screen .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-bottom: 0 0 20px 0;
}

.main-screen .swiper-pagination-bullets .swiper-pagination-bullet-active {
  margin-top: -20px;
}

.main-screen .swiper-slide {
  background: linear-gradient(to right, #f9fdff 66.1%, #fceae8 66.1%);
}

.main-screen .swiper-scrollbar {
  display: none;
}

.main-screen .swiper-pagination-bullet {
  width: 41px;
  height: 29px;
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-align: right;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  background: 0 0;
  border-radius: none;
  opacity: 1;
}

.main-screen .swiper-pagination-bullet:focus,
.main-screen .swiper-pagination-bullet:hover {
  color: rgba(0, 0, 0, 0.8);
  outline: 0;
}

.main-screen .swiper-pagination-bullet-active {
  position: relative;
  width: 41px;
  height: 58px;
  margin-top: -20px;
  font-size: 40px;
  line-height: 58px;
  color: #000000;
}

.main-screen .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -20px;
  width: 2px;
  height: 54px;
  background-color: #000000;
}

@media (max-width: 1023px) {
  .main-screen .swiper-slide {
    background: linear-gradient(to right, #f9fdff 66.1%, #fceae8 62.1%);
  }

  .main-screen .swiper-pagination {
    top: 244px;
    left: auto;
    width: 41px;
  }
}

@media (max-width: 767px) {
  .main-screen::before {
    height: 327px;
  }

  .main-screen .swiper-scrollbar {
    bottom: 21px;
    left: 0;
    width: calc(100% - 64px);
    height: 2px;
    display: block;
  }

  .main-screen .swiper-pagination {
    top: auto;
    bottom: 9px;
    right: 0;
    width: auto;
    height: auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
  }

  .main-screen .swiper-slide {
    background: #f9fdff 64%;
  }
}

.product--slider,
.product--slider .product__info,
.product--slider .product__info p {
  display: flex;
}

.product--slider {
  min-height: 628px;
  box-sizing: border-box;
  padding-top: 7px;
}

.product--slider .product__info {
  position: relative;
  flex-direction: column;
  flex-shrink: 1;
  width: 566px;
}

.product--slider .product__info h2 {
  width: 300px;
  margin: 109px 0 25px;
  padding: 0;
  font-family: "Playfair Display", "Georgia", serif;
  font-weight: 700;
  font-size: 57px;
  line-height: 83px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #303032;
}

.product--slider .product__info h3 {
  margin-top: 0;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #303032;
}

.product--slider .product__info p {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  color: #303032;
}

.product--slider .product__info p span {
  margin-top: 11px;
  margin-right: 22px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.product--slider .product__button {
  width: 238px;
  margin-bottom: 156px;
  padding: 18px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #303032;
  border: 0;
  cursor: pointer;
}

.page-footer__navigation-item a:focus,
.page-footer__navigation-item a:hover,
.product--slider .product__button:focus,
.product--slider .product__button:hover {
  opacity: 0.8;
}

.page-footer__navigation-item a:active,
.product--slider .product__button:active {
  opacity: 0.6;
}

.product--slider .product__image {
  margin-right: 6.7%;
  width: 532px;
  height: 628px;
}

.product--slider .product__image img {
  width: 532px;
  height: auto;
  margin-top: -123px;
}

.product--new,
.product--sale {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product--new .product__image {
  width: 100%;
  height: 201px;
  overflow: hidden;
}

.product--new h3,
.product--new p {
  width: 100%;
  margin: -2px 0 7px;
  padding: 0 5px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #303032;
  text-align: center;
}

.product--new p {
  margin: 0 0 17px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}

.product--sale {
  position: relative;
  margin-bottom: 65px;
  padding-top: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.product--sale:focus::before,
.product--sale:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #303032;
}

.product--sale:focus .product__button,
.product--sale:hover .product__button {
  display: block;
}

.product--sale .product__image {
  width: 100%;
  height: 255px;
  overflow: hidden;
}

.product--sale .product__price-wrapper,
.product--sale h3 {
  width: 100%;
  box-sizing: border-box;
}

.product--sale h3 {
  padding-left: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 10px;
}

.product--sale .product__price-wrapper {
  display: flex;
  margin: 0 0 0 25px;
}

.product--sale .product__price {
  font-weight: 500;
}

.product--sale .product__price--new {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #303032;
}

.product--sale .product__price--old {
  margin-top: 11px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 22px;
  color: #979798;
  text-decoration: line-through;
}

.product--sale .product__button {
  position: absolute;
  bottom: -45px;
  display: none;
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #303032;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.product--caramel img {
  display: block;
  width: 209px;
  margin-left: auto;
  margin-top: 3px;
}

.product--cloud img,
.product--owl img {
  display: block;
  width: 197px;
  margin-left: auto;
}

.product--owl img {
  width: 167px;
  margin-top: 9px;
}

.product--maya img,
.product--messi img {
  display: block;
  width: 186px;
  margin-left: auto;
  margin-top: -30px;
}

.product--messi img {
  width: 162px;
  margin-top: 6px;
}

@media (max-width: 1023px) {
  .product--slider {
    min-height: auto;
    background: linear-gradient(to left, #fceae8 280px, #f9fdff 280px);
  }

  .product--slider .product__info {
    width: auto;
  }

  .product--slider .product__info h2 {
    width: 250px;
    font-size: 33px;
    line-height: 50px;
  }

  .product--slider .product__button {
    margin-bottom: 100px;
  }

  .product--slider .product__image {
    margin-right: 40px;
    margin-left: auto;
    width: 400px;
    height: 564px;
  }

  .product--slider .product__image img {
    width: 532px;
    height: auto;
    margin-top: -50px;
  }
}

@media (max-width: 767px) {
  .product--slider {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: auto;
    padding: 0 0 60px;
    background: #f9fdff;
  }

  .product--slider .product__info {
    order: 2;
    box-sizing: border-box;
  }

  .product--slider .product__info h2 {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 21px;
    box-sizing: border-box;
    font-size: 27px;
    line-height: 46px;
  }

  .product--slider .product__info h3 {
    margin-bottom: 6px;
  }

  .product--slider .product__info p {
    margin-bottom: 30px;
  }

  .product--slider .product__info p span {
    margin-top: 9px;
  }

  .product--slider .product__image {
    display: flex;
    width: 100%;
    height: 327px;
    background: linear-gradient(to right, #f9fdff 64%, #fceae8 64%);
    overflow: hidden;
  }

  .product--slider .product__image img {
    display: block;
    width: 277px;
    height: 391px;
    padding-left: 27px;
    margin: -32px auto 0;
  }

  .product--slider .product__button {
    width: 100%;
    margin-bottom: 0;
  }

  .product--sale {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
  }

  .product--sale .product__image {
    height: 299px;
  }

  .product--sale .product__button {
    display: block;
  }

  .product--sale::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #303032;
  }

  .product--caramel {
    padding-top: 30px;
  }

  .product--caramel h3,
  .product--caramel p {
    padding-left: 25px;
  }

  .product--caramel img {
    display: block;
    width: 232px;
    height: 287px;
    margin-left: auto;
    margin-top: 12px;
  }
}

/*Section: New Products*/

.new-product {
  margin-top: 140px;
  margin-bottom: 102px;
}

.new-product-flex-left {
  width: 614px;
}

.new-product-flex {
  display: flex;
}

.new-product-flex-left-top,
.new-product-flex-left-bottom {
  display: flex;
  flex-direction: row;
}

.new-product-flex-left-item,
.new-product-flex-left-item-text {
  width: 270px;
  height: 289px;
  background-color: white;
}

.new-product-flex-left-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.new-product-flex-left-item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 2;
  cursor: pointer;
}

.new-product-flex-left-item-table {
  background: #faece9;
  margin-left: 30px;
  margin-bottom: 37px;
  box-shadow: 0;
}

.new-product-flex-left-item-chandelier {
  margin-bottom: 37px;
}

.new-product-flex-left-item-chair {
  margin-left: 30px;
  margin-bottom: 37px;
}

.new-product-flex-left-item img {
  margin-bottom: 10px;
}

.new-product-flex-left-item p {
  font-size: 20px;
  line-height: 27px;
  color: #303032;
  margin-bottom: 7px;
}

.new-product-flex-left-item span {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #303032;
}

.images {
  align-self: center;
}

.new-product-flex-left-item-text {
  display: flex;
  flex-direction: column;
  background-color: #f9fdff;
}

.new-product-flex-left-item-text h2 {
  margin-top: 50%;
  margin-bottom: 7px;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #303032;
  text-transform: uppercase;
  position: relative;
}
.new-product-flex-left-item-text h2::before {
  content: "";
  width: 100%;
  transform: scale(0);
  height: 5px;
  bottom: -12px;
  left: 0;
  background-color: #000000;
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

.new-product-flex-left-item-text h2:hover::before {
  transform: scale(35%);
  transform-origin: left;
  content: "";
  position: absolute;
  background-color: #000;
  padding-bottom: 5px;
  width: 100%;
  display: block;
}

.new-product-flex-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 570px;
  height: 614px;
}

.new-product-flex-right:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.1) 0px 10px 10px;
  z-index: 2;
  cursor: pointer;
}

.new-product-flex-right p {
  font-size: 20px;
  line-height: 27px;
  color: #303032;
  margin-bottom: 7px;
}

.new-product-flex-right span {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #303032;
}

@media (max-width: 1024px) {
  .container {
    width: 940px;
  }

  body:before {
    width: 400px;
  }

  .new-product-flex-left-item-chair {
    margin-left: 16px;
  }

  .new-product-flex-right {
    width: 380px;
  }

  .new-product-flex-left-item p {
    font-size: 18px;
  }

  .new-product-flex-left-item span {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 700px;
  }

  .new-product-flex-left-top,
  .new-product-flex-left-bottom {
    display: block !important;
  }

  .new-product-flex-left-item-text {
    height: 42px;
    margin-bottom: 39px;
  }

  .new-product-flex-right {
    margin-left: 50px;
    width: 288px;
    height: 289px;
  }

  .new-product-flex-right img {
    width: 163px;
    height: 189px;
  }

  .new-product-flex-left-item img {
    margin-top: 30px;
  }

  .new-product {
    margin-top: 80px;
  }

  body:before {
    width: 300px;
    height: 680px;
  }

  .new-product-flex {
    display: block;
  }

  .new-product-flex-left-item {
    margin-left: 86px;
  }

  .new-product-flex-right {
    display: block;
    margin-top: 37px;
    width: 240px;
    margin-left: 230px;
    height: 367px;
    margin-bottom: 37px;
  }

  .new-product-flex-right img {
    width: 204px;
    height: 237px;
  }

  .new-product-flex-right p {
    font-size: 18px;
  }

  .new-product-flex-right span {
    font-size: 24px;
  }
}

/*Section: Feedback */

.feedback-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feedback-button {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 35px;
  height: 35px;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
  flex: 0 1 25%;
}

.feedback-content {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.feedback-item {
  position: relative;
  height: 100%;
  width: 100%;
}

.feedback-item-image img {
  max-height: 80px;
  max-width: 80px;
}

.feedback-image-container img {
  border-radius: 50%;
}

.feedback-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin: 20px 10px 10px;
}

.feedback-item-profession {
  margin: 10px 10px 20px;
}

.feedback-item-text {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  width: 653px;
}

.feedback-button-nxt {
  flex: 0 1 25%;
}

.feedback-switching {
  flex: 1 0 100%;
  text-align: center;
  margin: 10px 0px 0px;
}

.feedback-switching-item {
  border: 1px solid #b3b3b3;
  cursor: pointer;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: inline-block;
  padding: 3px;
  text-align: center;
}

.feedback-switching-item:not(:last-child) {
  margin-right: 2px;
}

.feedback-switching-item-act {
  background-color: #b3b3b3;
}

/*Section: Last Chance */

.last-chance-block {
  margin-top: 170px;
}

.last-chance {
  position: relative;
  margin-bottom: 58px;
}

.last-chance-block::before {
  content: "";
  position: absolute;
  background-color: #faece9;
  width: 43.5%;
  height: 110%;
  top: -73px;
}

.last-chance-block::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 200%;
  top: -73px;
  right: 65.5%;
  background-color: #fceae8;
  z-index: -1;
}

.last-chance-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  display: inline;
  color: #303032;
}

.last-chance-title::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scale(0);
  height: 15px;
  bottom: -15px;
  left: 0;
  background-color: #303032;
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

.last-chance-title:hover::before {
  transform: scale(25%);
  transform-origin: left;
}

.last-chance-links {
  position: relative;
  display: flex;
  padding-top: 37px;
  padding-bottom: 25px;
}

.last-chance-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.4);
}

.last-chance-link:not(:last-child) {
  margin-right: 48px;
}

.last-chance-link:hover {
  text-decoration-line: underline;
  color: #000000;
  transition: 0.2s;
}

.last-chance-cards-chairs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.last-chance-card-content {
  background-color: #ffffff;
  flex: 0 1 20%;
  position: relative;
  max-width: 209px;
  box-sizing: content-box;
  min-height: 355px;
  cursor: pointer;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.last-chance-card-content:not(:last-child) {
  margin-right: 10px;
}

.last-chance-card-content:hover::before {
  content: "";
  position: absolute;
  background-color: #000;
  padding-bottom: 5px;
  width: 100%;
  display: block;
}

.buy-link {
  display: none;
}

.last-chance-card-content:hover .buy-link {
  display: block;
  transition: 0.2s ease-in-out;
}

.last-chance-card-name {
  margin: 26px 0px 18px 23px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.last-chance-card-price {
  margin-bottom: 10px;
}

.last-chance-card-newprice {
  padding: 0px 11px 3px 23px;
  font-weight: 600;
  font-size: 28px;
}

.last-chance-card-oldprice {
  display: inline-block;
  margin-left: 11px;
  color: #979798;
  font-weight: 600;
  font-size: 16px;
  text-decoration: line-through;
}

.last-chance-image {
  position: relative;
  max-width: 100%;
  display: flex;
  max-height: 249px;
  justify-content: flex-end;
}

.buy-link {
  position: absolute;
  left: 0;
  bottom: -58px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  background-color: #303032;
  color: white;
  cursor: pointer;
}

.buy-link:hover {
  box-shadow: 0px 0px 10px 1px #303032;
  transition: all 0.2s ease-out;
}

/*Section: Footer*/

.footer {
  background-color: #ffffff;
  margin-top: 71px;
  padding-top: 101px;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303032;
  margin-right: 60px;
}

.footer-link:last-child {
  margin-right: 0;
}

.info {
  display: flex;
  margin-bottom: 30px;
}

.info-tel {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.icon-phone {
  margin-right: 8px;
}

.info-mail {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.icon-mail {
  margin-right: 8px;
}

.info-link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #303032;
}

.footer-rools {
  text-align: right;
  color: #000000;
  opacity: 0.2;
  font-size: 10px;
  line-height: 15px;
  margin: 10px;
}
